<div class="header">
  <h4><%= name %></h4>
  <span class="containerId">ID edificio</span>
</div>

<% if (!loading) {%>

  <div class="content">

    <h3>Factura parte fija</h3>
    <div class="info-block child">
      <h4>General</h4>
      <span><%= facturaParteFija.general %></span>
      <h4>Vertido</h4>
      <span><%= facturaParteFija.vertido %></span>
      <h4>Depuración</h4>
      <span><%= facturaParteFija.depuracion %></span>
      <h4>Autonómica</h4>
      <span><%= facturaParteFija.autonomica %></span>
      <h4>Total</h4>
      <span><%= facturaParteFija.total %></span>
    </div>
    
    <h3>Factura parte fija</h3>
    <div class="info-block child">
      <h4>Abastecimiento</h4>
      <span><%= facturaParteVariable.abastecimiento %></span>
      <h4>Vertido</h4>
      <span><%= facturaParteVariable.vertido %></span>
      <h4>Depuración</h4>
      <span><%= facturaParteVariable.depuracion %></span>
      <h4>Canon local</h4>
      <span><%= facturaParteVariable.canonLocal %></span>
      <h4>Canon autonómico</h4>
      <span><%= facturaParteVariable.canonAutonomico %></span>
      <h4>Total</h4>
      <span><%= facturaParteVariable.total %></span>
    </div>

    <div class="info-block">
      <h4>Total neto</h4>
      <span><%= totalneto %></span>
      <h4>Iva</h4>
      <span><%= iva %></span>
      <h4>Total</h4>
      <span><%= total %></span>
    </div>
  </div>
<% } %>  


<% if (loading) {%>  
<div class="loader loader--style3" title="2">
  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
  <path fill="#6EBAFF" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
    <animateTransform attributeType="xml"
      attributeName="transform"
      type="rotate"
      from="0 25 25"
      to="360 25 25"
      dur="0.6s"
      repeatCount="indefinite"/>
    </path>
  </svg>
</div>
<% } %>  
