<span class="ml15">
  <a class="black" target="_blank" href="https://www.telefonica.com">© Fiware</a>
  &nbsp;·&nbsp;
  <a href="mailto:hello@geographica.gs"><%= __('Contacta') %></a>
  &nbsp;·&nbsp;
  <a target="_blank" href="https://www.telefonica.com/es/aviso-legal"><%= __('Privacidad') %></a>
  &nbsp;·&nbsp;
  <a target="_blank" href="https://www.telefonica.com/es/politica-cookies"><%= __('Cookies') %></a>
  &nbsp;·&nbsp;
  <%= __('Todos los derechos reservados') %>
</span>

<div class="mr15">
  <span class="ml5 black">D+D by</span>  <a class="ml5" target="_blank" href="https://www.geographica.gs">Geographica</a>
  &nbsp;·&nbsp;
  <span class="black">Powered by</span>
  <img class="ml5 mr5" src="/verticals/aquagis-theme/img/aquagis_urbo_footer_logo.svg">
</div>
