.scenariosContainer {
    .header-plugins {
        background: red;
        clear: both;
    }
    .plugin-water-types {
        float: left;
        margin-right: 20px;
        clear: left;
    }
    .plugin-water-consumption {
        float: left;
    }
}