@aquaGisColor: #6EBAFF;

body[layout='aquagis'] {

  header {
    background-color: @aquaGisColor;

    & > a {
      margin-left: 24px;
    }

    & > .tool {
      > a {
        color: #FFFFFF;

        &.admin {
          &:before {
            background-image: url(/img/SC_ic_menu-admin-white.svg);
          }
        }

        &.alerts {
          &:before {
            background-image: url(/img/SC_ic_menu-alertas-white.svg);
          }
        }

        &.lang {
          &:before {
            background-image: url(/img/SC_ic_menu-idioma-white.svg);
          }
          &:after {
            content: url(/img/SC_ic_flechaselect_white.svg);
          }
        }

        &.user {
          &:before {
            background-image: url(/img/SC_ic_menu-usuario-white.svg);
          }
        }
      }
    }
  }

  #map {
    height: 100%;
    width: 100%;
    position: absolute !important;
    top: 0;
  }

  .basemapselector {
    position: absolute;
    bottom: 8px;
    left: 8px;
  }
}
