<div  class="panel panel-future-consumption split_vertical fill_height">
	<div class="top h50">
  </div>
	<div class="split_handler"></div>
	<div class="bottom h50">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 mb30">
          <h2 class="title_page"></h2>
          <a href="#" class="goToVertical linkRight"><%= __('Otros verticales') %></a>
        </div>
      </div>
    </div>
    <div class="container widgetContainer"></div>
    <div class="container centered-contents">
      <button class="button add" id="btCreateScenario"><%= __('Crear escenario') %></button>
    </div>
    <div class="container">
      <div class="scenarios-header hide">
          <div class="title"><%= __('Simulación de escenario') %></div>
          <div><button class="bt-delete-scenario" id="btDeleteScenario"></button></div>
      </div>
    </div>   
    <div class="container scenariosContainer"></div>
  </div>
	<a class='co_fullscreen_toggle'><%= __('Pantalla completa') %></a>
</div>
